.page__aboutFork {
  background: center / cover url("../img/bg-aboutFork.png");
  min-height: 1620px;
}

.aboutFork__title {
  margin-top: 57px;
  margin-bottom: 53px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  @media (min-width: 481px) {
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 88px;
  }

  @media (min-width: 993px) {
    font-size: 48px;
    line-height: 50px;
  }
}

.partners__list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 270px));
  grid-template-rows: repeat(1, 175px);
  justify-items: center;
  align-items: baseline;
  justify-content: center;
  gap: 45px;
  @media (min-width: 481px) {
    grid-template-columns: repeat(2, minmax(230px, 354px));
    grid-template-rows: repeat(3, 175px);
    column-gap: 4%;
  }

  @media (min-width: 993px) {
    grid-template-columns: repeat(3, minmax(230px, 354px));
    grid-template-rows: repeat(2, 175px);
  }
}

.partners__item {
  color: #fff;
  list-style: none;
  text-align: center;
}

.partners__text {
  font-style: italic;
  margin-top: 33px;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.partners__desc {
  font-family: font-stack--content;
  @include font-general;
  font-size: 14px;
  line-height: 21px;
  margin-top: 37px;
  text-align: center;
  width: 65%;
  position: relative;
  color: #a291a5;
  &::after {
    content: "";
    border-bottom: 2px solid #645766;
    display: block;
    width: 85%;
    margin-top: 22px;
    position: absolute;
    left: 6%;
  }
  @media (min-width: 480px) {
    margin-top: 67px;
  }
  @media (min-width: 993px) {
    margin-top: 118px;
  }
}
