//footer
.block__container-back {
    background-image: url(../img/fork_sabs_pric.png);
    background-size: cover;
  }
  .footer {
    @include footer;
  }
  
  
  .footer__h2 {
    @include footer-h2;
    @media screen and (min-width: 320px) {
      @include title-h2-footer;
    }
    .grid-thre-footer {
      padding: 0 2.813rem 0 2.813rem;
    }
    @media screen and (min-width: 481px) {
    }
    &__btn-two {
      @include btn-two;
    }
  }
  .grid-one-footer,
  .grid-two-footer,
  .grid-thre-footer,
  .grid-four-footer {
    @include grid-footer;
  }
  @media screen and (min-width: 320px) {
    .grid-thre-footer {
      height: 560px;
    }
  }
  
  @media screen and (min-width: 481px) {
    .grid-footer {
      display: grid;
      justify-content: center;
      grid-auto-flow: row;
      grid-template-areas:
        "grid-footer-h2 grid-footer-h2"
        "grid-one-footer grid-two-footer"
        "grid-thre-footer grid-four-footer";
    }
  
    .grid-footer-h2 {
      grid-area: grid-footer-h2;
    }
  
    .grid-one-footer {
      grid-area: grid-one-footer;
    }
  
    .grid-two-footer {
      grid-area: grid-two-footer;
    }
  
    .grid-thre-footer {
      grid-area: grid-thre-footer;
    }
  
    .grid-four-footer {
      grid-area: grid-four-footer;
      margin: 3.188rem 0 9.563rem 0;
    }
  }
  @media screen and (min-width: 993px) {
    .grid-footer {
      display: grid;
      justify-content: center;
      grid-auto-flow: row;
      grid-template-areas:
        "grid-footer-h2 grid-footer-h2 grid-footer-h2 grid-footer-h2"
        "grid-one-footer grid-two-footer grid-thre-footer grid-four-footer";
    }
  
    .grid-footer-h2 {
      grid-area: grid-footer-h2;
    }
    .grid-one-footer {
      grid-area: grid-one-footer;
      margin-top: 7.625rem;
      margin-right: 0.938rem;
      max-height: 457px;
    }
    .grid-two-footer {
      grid-area: grid-two-footer;
      margin-right: 0.938rem;
      max-height: 457px;
      margin-top: 7.625rem;
    }
    .grid-thre-footer {
      grid-area: grid-thre-footer;
      margin-top: 3.813rem;
      margin-right: 0.938rem;
      max-height: 457px;
    }
  
    .grid-four-footer {
      grid-area: grid-four-footer;
      max-height: 457px;
      margin: 7.625rem 0 0;
    }
    .grid-thre-footer {
      max-height: 560px;
    }
  }
  
  .price-info {
    @include price-info;
  
    &__title {
      @include footer-title;
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
      background-color: rgba(255, 255, 255, 0.137);
    }
  
    &__title-color {
      @include footer-title;
      @include title-color;
    }
  
    &__text-price {
      @include text-price;
  
      &::before {
        content: "$";
        font-weight: 400;
      }
    }
  
    &__text-month {
      @include text-month;
  
      &::after {
        content: "";
        border-bottom: 0.313rem solid $main-titel-h2Two;
        margin: 0 auto;
        padding-top: 2.375rem;
      }
    }
  
    &__text {
      @include text;
    }
  
    &__btn {
      @include btn;
    }
    &__btn-two {
      @include btn-two;
      @media screen and (min-width: 481px) {
        margin-top: 15px;
      }
    }
  
    &_block-color {
      @include block-color;
    }
  }
  
  
  