
// main
// Revolutionary editor
@mixin main-title {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: $main-titel-h2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@mixin main-text {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.05rem;
  font-weight: 400;
  color: $main-text-revolution;
  text-align: center;
}
@mixin icons {
  padding-top: 2.25rem;
  padding-bottom: 4.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}
@mixin icon-text {
  font-weight: 600;
  padding: 0 0.5rem;
}
@mixin icon-link {
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(206, 206, 206);
  border-right: none;
  box-shadow: 0 1px 0 rgba(228, 228, 228, 0.404);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
@mixin icon-link-two {
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 206, 206);
  box-shadow: 0 1px 0 rgba(228, 228, 228, 0.404);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
// Revolutionary editor

//section-two-here--get
@mixin block-info {
  color: $main-text-revolution;
  font-size: 1rem;
  font-weight: 400;
}
@mixin title-h2 {
  color: $main-titel-h2Two;
  padding-bottom: 2.25rem;
  font-size: 2rem;
  font-weight: 700;
  &::after {
    content: ">";
  }

  &::before {
    content: "<";
  }
}
@mixin title-h2-none {
  color: $main-titel-h2Two;
  padding-bottom: 2.25rem;
  font-size: 2rem;
  font-weight: 700;
  &::after {
    content: ">";
  }

  &::before {
    content: "<";
  }
}
@mixin title-h2-footer {
  color: $footer-h2;
  padding-top: 5.188rem;
  padding-bottom: 2.25rem;
  font-size: 3rem;
  font-weight: 700;
}

@mixin title-h4 {
  color: black;
  font-size: 1rem;
  line-height: 1.313rem;
  font-weight: 400;
}
@mixin info-text {
  font-family: "Lato", sans-serif;
  color: $main-text;
  padding-top: 0.9rem;
  padding-bottom: 2.3rem;
  font-size: 0.8rem;
  line-height: 1.313rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
//section-two-here--get
//main